<link rel="stylesheet" href="{{url_for('static', filename='register/fonts/material-icon/css/material-design-iconic-font.min.css')}}f">
<link rel="stylesheet" href="{{url_for('static', filename='register/css/style.css')}}">
{% extends "adminku/index_admin.html" %}
{% block content %}
	<form action="" method="POST" enctype="multipart/form-data">
		{{ form.hidden_tag() }}
		<fieldset class="form-group">
			<legend class="border-bottom mb-3">Data Sarana Penunjang</legend>
			<div class="form-group">
				{{ form.paud.label(class="form-control-label") }}
				{{ form.paud(class='form-control form-control-lg') }}
			</div>
			<!--=================================================-->
			<div class="form-group">
				{{ form.tk.label(class="form-control-label") }}
				{{ form.tk(class='form-control form-control-lg') }}
			</div>
			<div class="form-group">
				{{ form.sd.label(class="form-control-label") }}
				{{ form.sd(class='form-control form-control-lg') }}
			</div>
			<div class="form-group">
				{{ form.smp.label(class="form-control-label") }}
				{{ form.smp(class='form-control form-control-lg') }}
			</div>
			<div class="form-group">
				{{ form.sma.label(class="form-control-label") }}
				{{ form.sma(class='form-control form-control-lg') }}
			</div>
			<div class="form-group">
				{{ form.tpa.label(class="form-control-label") }}
				{{ form.tpa(class='form-control form-control-lg') }}
			</div>
			<div class="form-group">
				{{ form.puskesmas.label(class="form-control-label") }}
				{{ form.puskesmas(class='form-control form-control-lg') }}
			</div>
			<div class="form-group">
				{{ form.posyandu.label(class="form-control-label") }}
				{{ form.posyandu(class='form-control form-control-lg') }}
			</div>
		</fieldset>
		<div class="form-group">
			{{ form.submit(class="btn btn-outline-info") }}
		</div>
	</form>  

{% endblock content %}
<script src="{{url_for('static', filename='register/vendor/jquery/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='register/js/main.js')}}"></script>
<script src="{{url_for('static', filename='layout/js/w3.js')}}"></script>
