<link rel="stylesheet" href="{{url_for('static', filename='register/fonts/material-icon/css/material-design-iconic-font.min.css')}}f">
<link rel="stylesheet" href="{{url_for('static', filename='register/css/style.css')}}">
{% extends "adminku/index_admin.html" %}
{% block content %}
<div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Data Kepala Desa Jikotamo</h3>

            <div class="card-tools">
              <div class="input-group input-group-sm" style="width: 250px;">
                <a href="{{ url_for('create_kades') }}"><button type="button" class="btn btn-sm bg-gradient-primary">Creat</button></a>
              </div>
            </div>
          </div>
          <script>
            function hapus(value){
              let valid_link=document.getElementById('d_kades')
              valid_link.href="/delete/kades/" + value
            }
          </script>
          <div class="card-body table-responsive p-0">
            <table class="table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Nama</th>
                  <th>Masa Jabatan</th>
                  <th>No Telpon</th>
                  <th class="text-center">Reason</th>
                </tr>
              </thead>
              <tbody>
              	{% for kades in kadess %}
                <tr>
                  <td>{{ kades.id }}</td>
                  <td>{{ kades.nama }}</td>
      			      <td>{{ kades.masa_jabatan }}</td>
                  <td>{{ kades.no_hp }}</td>
    	            <td class="text-center">
                        <a href="{{ url_for('update_kades', kades_id=kades.id) }}"><button type="button" class="btn btn-sm bg-gradient-success">Update</button></a>
                        <button type="button" class="btn btn-sm bg-gradient-danger" data-toggle="modal" data-target=#deleteModal onclick="hapus({{kades.id}})">Delete</button></td>
                </tr>
                {% endfor %}
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby='deleteModalLabel' aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content bg-warning">
                      <div class="modal-header">
                        <h4 class="modal-title">Warning!</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span></button>
                      </div>
                      <div class="modal-body">
                        <p>Yakin ingin menghapus?&hellip;</p>
                      </div>
                      <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
                          <form method="GET">
                              <a id="d_kades" type="button" class="btn btn-outline-dark">Delete</a>
                          </form>
                      </div>
                    </div>
                  </div>
                </div>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
	
{% endblock content %}
<script src="{{url_for('static', filename='register/vendor/jquery/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='register/js/main.js')}}"></script>